:root {
    --font-family: 'Kumbh Sans', sans-serif;

    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --fs-xs: clamp(0.75rem, 2vw, 0.875rem);
    /* 12px - 14px */
    --fs-sm: clamp(0.875rem, 2.2vw, 1rem);
    /* 14px - 16px */
    --fs-base: clamp(1rem, 2.5vw, 1.125rem);
    /* 16px - 18px */
    --fs-md: clamp(1.125rem, 3vw, 1.5rem);
    /* 18px - 24px */
    --fs-lg: clamp(1.5rem, 4vw, 2.25rem);
    /* 24px - 36px */
    --fs-xl: clamp(2rem, 5vw, 3rem);
    /* 32px - 48px */
    --fs-2xl: clamp(2.5rem, 6vw, 3.75rem);
    /* 40px - 60px */
    --fs-3xl: clamp(3rem, 8vw, 4.5rem);
    /* 48px - 72px */

    /* Spacing scale (margin/padding/gap) */
    --space-xs: clamp(0.5rem, 0.8vw, 0.75rem);
    --space-sm: clamp(1rem, 1.2vw, 1.25rem);
    --space-md: clamp(1.5rem, 2vw, 2rem);
    --space-lg: clamp(2rem, 3vw, 3rem);


    --max-container: 1200px;
    --max-container-wide: 1440px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--fs-base);
    background-color: var(--light-grayish-blue);
    
}