:root {
    --font-family: "Kumbh Sans", sans-serif;
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);


    --fs-xs: clamp(0.75rem, 0.8vw, 0.875rem);
    --fs-sm: clamp(0.875rem, 1vw, 1rem);
    --fs-base: clamp(1.125rem, 1.2vw, 1.125rem);
    --fs-md: clamp(1.25rem, 1.6vw, 1.375rem);
    --fs-lg: clamp(1.5rem, 2.2vw, 1.75rem);
    --fs-xl: clamp(2rem, 3vw, 2.5rem);

    --space-xs: clamp(0.5rem, 0.6vw, 0.75rem);
    --space-sm: clamp(0.875rem, 0.9vw, 1.125rem);
    --space-md: clamp(1.25rem, 1.4vw, 1.5rem);
    --space-lg: clamp(1.75rem, 2vw, 2.25rem);
    --space-xl: clamp(2.5rem, 3vw, 3rem);


    --radius-sm: .25rem;
    --radius-md: .35rem;
    --radius-lg: .5rem;

    --max-container: 1200px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,
body {
    font-family: var(--font-family);
    font-size: var(--fs-base);
    line-height: 1.4;
}
