:root {
    --font-family: "Kumbh Sans", sans-serif;
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);


    --fs-xs: clamp(0.75rem, 0.8vw, 0.875rem);
    --fs-sm: clamp(0.875rem, 1vw, 1rem);
    --fs-base: clamp(1rem, 1.2vw, 1.125rem);
    --fs-md: clamp(1.25rem, 1.6vw, 1.375rem);
    --fs-lg: clamp(1.5rem, 2.2vw, 1.75rem);
    --fs-xl: clamp(2rem, 3vw, 2.5rem);

    --space-xs: clamp(0.5rem, 0.6vw, 0.75rem);
    --space-sm: clamp(0.875rem, 0.9vw, 1.125rem);
    --space-md: clamp(1.25rem, 1.4vw, 1.5rem);
    --space-lg: clamp(1.75rem, 2vw, 2.25rem);
    --space-xl: clamp(2.5rem, 3vw, 3rem);

    --radius-sm: .25rem;
    --radius-md: .35rem;
    --radius-lg: .5rem;
    --radius-xl: .75rem;

    --z-overlay: 10;
    --z-navbar: 20;
    --z-menu: 30;
    --z-header: 40;

    --container-sm: 800px;
    --container-md: 1000px;
    --container-lg: 1200px;

    --navbar-height: 0px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--Black);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button:focus-visible,
a:focus-visible {
    outline: 2px solid var(--primary-orange);
    outline-offset: 3px;
}

html,
body {
    font-family: var(--font-family);
    font-size: var(--fs-base);
    line-height: 1.4;
}

body {
    padding-bottom: var(--space-xl);
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-header);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    padding: var(--space-sm);
    z-index: var(--z-navbar);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    gap: var(--space-xs);
}

.navbar-right {
    gap: var(--space-md);
}

.navbar-open-btn {
    position: relative;
    padding: 0.5rem;
    width: clamp(2rem, 5vw, 3rem);
    height: clamp(2rem, 5vw, 3rem);
}

.navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    padding: var(--space-lg);
    background-color: var(--White);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: var(--z-menu);
}

.navbar-menu.is-open {
    transform: translateX(0);
}

.navbar-links {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}


.icon-close-menu {
    display: block;
    margin-bottom: var(--space-lg);
}

.navbar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: var(--z-overlay);
}

.navbar-overlay.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.navbar-menu li {
    font-size: var(--fs-sm);
    list-style: none;
    font-weight: 700;
}

.nav-link.is-active::after {
    transform: scaleX(1);
}

.navbar-profile img {
    width: clamp(1.75rem, 3.5vw, 2.25rem);
    height: clamp(1.75rem, 3.5vw, 2.25rem);
    border-radius: 50%;
}

.navbar-profile img:hover {
    outline: 2px solid var(--primary-orange);
}

main {
    padding-top: var(--navbar-height);
}

.product-container {
    display: grid;
    grid-template-columns: 1fr;
}

.product-cart {
    padding: var(--space-md);

    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.product-brand {
    text-transform: uppercase;
    font-size: var(--fs-xs);
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    letter-spacing: .1rem;
}

.product-title {
    font-size: var(--fs-xl);
    line-height: 1.1;
}

.product-description {
    font-size: var(--fs-sm);
    color: var(--Dark-grayish-blue);
    line-height: 1.6;
}

.product-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-discount {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.current-price {
    font-size: var(--fs-lg);
    font-weight: 700;
}

.discount-badge {
    align-self: end;
    background-color: var(--Black);
    color: var(--White);
    font-size: var(--fs-xs);
    padding: .125rem .5rem;
    border-radius: var(--radius-md);
}

.normal-price {
    font-size: var(--fs-sm);
    font-weight: 700;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.product-actions {
    display: grid;
    gap: var(--space-md);
}

.quantity-selector {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: var(--space-sm) var(--space-xs);
    background-color: var(--Light-grayish-blue);
    border-radius: var(--radius-lg);
    text-align: center;
}

.quantity-selector button:hover {
    opacity: .6;
}

.quantity-value {
    font-size: var(--fs-sm);
    font-weight: 700;
}

.btn-add-cart {
    background-color: var(--primary-orange);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
    transition: opacity .15s ease, transform 0.25s ease;
}

.btn-add-cart:hover {
    opacity: .75;
    transform: scale(1.0125);
}

.btn-add-cart:active {
    opacity: .5;
}

.btn-add-cart img {
    width: clamp(1rem, 1rem + 0.5vw, 1.35rem);
    height: clamp(1rem, 1rem + 0.5vw, 1.35rem);
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    will-change: transform;
    /* bikin animasi lebih smooth */
    transition: transform 0.3s ease-in-out;
}

.carousel img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-pale-orange);
    border: none;
    padding: .875rem var(--space-sm);
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.btn-prev {
    left: var(--space-sm);
}

.btn-next {
    right: var(--space-sm);
}

.btn-next,
.btn-prev {
    transition: background .15s ease;
}

.btn-prev:hover,
.btn-next:hover {
    background: var(--primary-orange);
}

.btn-prev:hover img,
.btn-next:hover img {
    filter: brightness(0) invert(1);
}


@media (min-width: 55em) {
    .navbar {
        padding: var(--space-md) 0;
        border-bottom: 1px solid var(--Grayish-blue);
    }

    .navbar-open-btn {
        display: none !important;
    }

    .navbar-menu {
        position: static;
        transform: none !important;
        height: auto;
        flex-direction: row;
        padding: 0;
        gap: 1.5rem;
        background: transparent;

        display: flex;
        align-items: center;
    }

    .navbar-overlay,
    .icon-close-menu {
        display: none !important;
    }

    .navbar-links {
        flex-direction: row;
    }

    .nav-link {
        position: relative;
        color: var(--Dark-grayish-blue);
        font-weight: 400;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.75rem;

        width: 100%;
        height: 3px;
        background-color: var(--primary-orange);

        transform: scaleX(0);
        transform-origin: center;
        transition: transform .25s ease;
    }

    .nav-link:hover::after,
    .nav-link.is-active::after {
        transform: scaleX(1);
    }

    .navbar,
    main {
        max-width: var(--container-sm);
        margin: 0 auto;
    }

    .product-container {
        grid-template-columns: 1fr 1fr;
        gap: var(--space-xl);
        margin-top: var(--space-md);
        padding: var(--space-xl);
    }

    .product-title {
        margin-bottom: var(--space-xs);
    }

    .carousel {
        width: 100%;
        max-width: 440px;
    }

    .carousel-track img {
        border-radius: var(--radius-xl);
    }

    .product-cart {
        align-self: center;
    }
}

@media (min-width: 64em) {

    .navbar,
    main {
        max-width: var(--container-md);
    }

    .nav-link::after {
        bottom: -1.875rem;
    }

    .product-container {
        margin-top: var(--space-lg);
    }

    .product-title {
        margin-bottom: var(--space-md);
    }
}

@media (min-width: 87.5em) {

    .navbar,
    main {
        max-width: var(--container-lg);
    }

    .navbar-links {
        gap: var(--space-lg);
    }

    .nav-link::after {
        bottom: -2rem;
    }

    .navbar-left {
        gap: var(--space-md);
    }

    .navbar-right {
        gap: var(--space-xl);
    }

    .product-container {
        margin-top: var(--space-xl);
    }


    .product-actions {
        grid-template-columns: 1fr 2fr;
    }
}