:root {
    --font-family: 'Roboto', sans-serif;

    --fs-xs: clamp(0.75rem, 0.8vw, 0.875rem);
    --fs-sm: clamp(0.875rem, 1vw, 1rem);
    --fs-base: clamp(1rem, 1.2vw, 1.125rem);
    --fs-md: clamp(1.25rem, 1.6vw, 1.375rem);
    --fs-lg: clamp(1.5rem, 2.2vw, 1.75rem);
    --fs-xl: clamp(2rem, 3vw, 2.5rem);
    --fs-2xl: clamp(2.5rem, 4vw, 3rem);
    --fs-3xl: clamp(3rem, 5.5vw, 3.75rem);

    --primary-red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%, 58%);
    --white: hsl(0, 0%, 100%);

    --space-btn-y: 0.75rem;
    --space-xs: clamp(0.5rem, 0.6vw, 0.75rem);
    --space-sm: clamp(0.875rem, 0.9vw, 1.125rem);
    --space-md: clamp(1.25rem, 1.4vw, 1.5rem);
    --space-lg: clamp(1.75rem, 2vw, 2.25rem);
    --space-xl: clamp(2.5rem, 3vw, 3rem);
    --space-2xl: clamp(3.5rem, 4.5vw, 4.5rem);

    --radius-sm: .25rem;
    --radius-md: .35rem;
    --radius-lg: .5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-family);
    font-size: var(--fs-base);
    line-height: 1.4;
}

